.alignment {
    margin:auto;
    width: 50%;
    height: auto;
    border:1px solid black;
}
#main p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 5px;
    font-family: -webkit-pictograph;
    color: tomato;
}
#desc_label{
    margin-bottom:0;
}
#desc_label h5{
    margin-bottom:0;
    padding-left:10px;
}
input[type="text"]{
    outline: none;
    border:0;
    padding-top:0;
    height:35px;
    padding-left:10px;
    width: -webkit-fill-available;
    background-color: inherit;
    color:#7726b1;
}
                        /* Category section */

#label-category{
    padding-left:10px;
}
#category{
    padding-left:10px;
    width: -webkit-fill-available;
    outline: none;
    border:0;
}
option{
    background-color: lightcoral;
}
                            /* Date Section */
#label-date{
    padding-top:1px;
    padding-left: 10px;;
    border-bottom:0;
    height: 22px;
}   

#input-datepicker{
    padding:0px;
    width: -webkit-fill-available;
    line-height: 25px;
    border:0;
    padding-left: 10px;
    background-color:inherit;
}
                        /* Add Button */
                       




                        /* common classes */

.no-outline:focus {
    outline: none;
    border-color:inherit;
  }

::placeholder {
    color:grey;
    opacity: 0.8;  /* Firefox */
    font-size: 10px;
  }
.specialColor{
    color:orange;
}